<article>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div id="inscriptionForm">
        <label class="label">Inscription</label>
        <input class="input" type="text" placeholder="login" name="login" formControlName="pseudo">
        <input class="input" type="text" placeholder="prénom" name="firstname" formControlName="prenom">
        <input class="input" type="text" placeholder="nom" name="name" formControlName="nom">
        <input class="input" type="text" placeholder="email" name="email" formControlName="email">
        <input type="password" placeholder="mot de passe" name="password" formControlName="password">
        <button type="submit" class="btnsubmit">VALIDER</button>
      </div>
    </form>
  </article>