<article>
  <form (ngSubmit) = "onSubmit()" [formGroup]="formLogin">
    <div id="loginForm">
      <label>Connexion</label><br /><br />
      <input type="text" placeholder="Nom utilisateur" name="username" formControlName="pseudo"/>
      <br />
      <input type="password" placeholder="Mot de passe" name="password" formControlName="password"/>
      <div id="connexion">
        <input type="submit" id='submit' value="SE CONNECTER"><br />
        <a id="inscription" href="" routerLink="/create">-- S'inscrire --</a>
      </div>
    </div>
  </form>
</article>
