<article>
  <div id="loginForm">
    <form (ngSubmit)="onSubmit()" [formGroup]="formLogin">
      <div class="box">
        <label id="loginLabel">Connexion</label>
      <input class="input" type="text" placeholder="Nom utilisateur" name="username" formControlName="pseudo" />
      <input type="password" placeholder="Mot de passe" name="password" formControlName="password" />
      <div id="connexion">
      <input type="submit" id='submit' value="SE CONNECTER"><br/>
        <a id="inscription" routerLink="/create"><em>inscription</em></a>
      </div>
    </div>
    </form>
  </div>
</article>
