<article>
  <form>
    <div id="loginForm">
      <label>Connexion</label><br /><br />
      <input type="text" placeholder="Adresse email ou nom utilisateur" name="username" required />
      <br />
      <input type="password" placeholder="Mot de passe" name="password" required>
      <!-- required = attribut qui permet de mettre en forme les éléments obligatoires pour remplir correctement un formulaire. -->
      <div id="connexion">
        <input type="submit" id='submit' value="SE CONNECTER"><br />
        <a id="inscription" href="" routerLink="/create">-- S'inscrire --</a>
      </div>
    </div>
  </form>
</article>
