<article>
    <form action="http://pleione.fr/validform/?se+loger=" method="POST">
       <div id="contactForm">
          <label id="labelContact">Contact</label><br />
          <div id="loginMotif">
             <input type="text" placeholder=" Email ou login" name="username" required>
             <select name="motif" id="motif" required>
                <option value="">-- Motif --</option>
                <option value="bug">Bug</option>
                <option value="recommandation">Recommandation</option>
                <option value="autre">Autre</option>
             </select>
          </div><br />
          <textarea name="textarea" id="textarea" cols="47" rows="20" placeholder="Votre message ici"
             required></textarea>
          <div id="submitContact">
             <input type="submit" id="submit" value="ENVOYER">
          </div>
       </div>
    </form>
</article>