<article>
    <table id="table">
       <caption> categorie aliment</caption>
       <thead>
          <tr>
             <th>
                nom aliment
             </th>
             <th>
                pouces
             </th>
          </tr>
       </thead>
       <tbody>
          <tr>
             <td>aliment 1</td>
             <td></td>
          </tr>
          <tr>
             <td>aliment 2</td>
             <td></td>
          </tr>
          <tr>
             <td>aliment 3</td>
             <td></td>
          </tr>
          <tr>
             <td>aliment 4</td>
             <td></td>
          </tr>
       </tbody>
    </table>
 </article>