<article>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col" class="text-center">N°</th>
        <th scope="col" class="text-center">Nom</th>
        <th scope="col" class="text-center">Recommandé</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="text-center">
           <app-aliment 
           *ngFor="let aliment of aliments; let i = index"
           [foodId]="aliment.id">
           </app-aliment>
        </th>
        <td class="text-center">
           <app-aliment
           *ngFor="let aliment of aliments; let i = index"
           [foodName]="aliment.name"
           ></app-aliment>
        </td>
        <td>
           <app-aliment
           *ngFor="let aliment of aliments; let i = index"
           [foodStatus]="aliment.status"
           ></app-aliment>
        </td>
      </tr>
    </tbody>
  </table>
</article>
