/** TABLE SELECT **/

table {
   table-layout: auto; /* La propriété table-layout définit l'algorithme utilisé pour disposer les cellules, lignes et colonnes d'un tableau */
   width: 300px;
   border: 1px solid snow;
}

caption {
   font-family: 'Ultra', serif;
   background-color: black;
   color: white;
   border: 1px solid snow;
}

#table tbody tr:nth-child(odd) {
   background-color: snow;
}