<!-- <article>
  <div class="boxTable">
    <caption>Aliments</caption>
    <div id="checkbox">
    <input type="checkbox" value="poissons">Poissons
    <input type="checkbox" value="viandes">Viandes
    <input type="checkbox" value="legumes">Légumes
    <input type="checkbox" value="fruits">Fruits
  </div>
    <table id="table">
      <thead>
        <tr class="label">
          <th>Nom</th>
          <th>Recommandé</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <app-aliment *ngFor="let aliment of aliments; let i = index" 
            [foodName]="aliment.name"></app-aliment>
          </td>
          <td>
            <app-aliment *ngFor="let aliment of aliments; let i = index" 
            [foodStatus]="aliment.status"></app-aliment>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</article> -->


<!-- ** BOOTSTRAP VERSION ** -->
<article>
  <table class="table table-dark text-center">
    <!-- <div id="checkbox">
    <input type="checkbox" value="poissons">Poissons
    <input type="checkbox" value="viandes">Viandes
    <input type="checkbox" value="legumes">Légumes
    <input type="checkbox" value="fruits">Fruits
  </div> -->
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Recommandé</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
           <app-aliment
           *ngFor="let aliment of aliments"
           [foodName]="aliment.name"
           ></app-aliment>
        </td>
        <td class="text-left">
           <app-aliment
           *ngFor="let aliment of aliments"
           [foodStatus]="aliment.status"
           ></app-aliment>
        </td>
      </tr>
    </tbody>
  </table>
</article>
