/** GLOBALE **/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article {
  height: calc(100vh - 150px);
  /* calcule taille de l'écran, moins hauteur du nav) */
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-family: 'Ultra', serif;
  font-size: 30px;
  color: black;
}

input {
  width: 350px;
  font-size: 20px;
  color: snow;
  background-color: black;
  text-align: center;
}

input[type="submit"] {
  font-family: 'Ultra', serif;
  background-color: black;
  color: snow;
  height: 80px;
  width: 220px;
  font-size: 20px;
  border-radius: 15px;
}

select,
option {
  width: 350px;
  font-size: 20px;
  color: snow;
  background-color: black;
  text-align-last: center;
  text-align: center;
}


/** RESPONSIVE DESIGN **/

/** EN DESSOUS DE 660 PX (tablette) **/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  label {
    font-size: 40px;
  }

  input {
    width: 320px;
    height: 35px;
    font-size: 28px;
  }

  input[type="submit"] {
    height: 130px;
    width: 250px;
    font-size: 25px;
  }

  select,
  option {
    width: 320px;
    height: 35px;
    font-size: 25px;
  }
}


/** EN DESSOUS DE 450 PX (smartphone) **/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  label {
    font-size: 25px;
  }

  input {
    width: 220px;
    height: 25px;
    font-size: 20px;
  }

  input[type="submit"] {
    height: 80px;
    width: 200px;
    font-size: 18px;
  }

  select,
  option {
    width: 220px;
    font-size: 20px;
  }
}
