<article>
  <form (ngSubmit) = "onSubmit()" [formGroup] = "formSelect">
    <div id="select">
      <label>Sélection</label>
      <select name="pet" class="pet-select" formControlName="animal">
        <option value="">-- Choisir un animal --</option>
        <option *ngFor= "let animal of animaux">{{ animal.type }}</option>
      </select>
      <select name="food" formControlName="aliment">
        <option value="">-- Choisir un aliment --</option>
        <option *ngFor= "let aliment of aliments">{{ aliment.type }}</option>
      </select>
      <!-- <a routerLink="/table"><input type="submit" value="Miam !"></a> -->
      <input type="submit" class="submit" value="Miam !">
    </div>
  </form>
</article>
