/** TABLE SELECT **/

.boxTable {
  height: 400px;
  width: 400px;
  border-radius: 15%;
  background-color: snow;
  box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

caption {
  font-family: 'Ultra', serif;
  font-size: 30px;
  color: black;
  text-align: center;
}

table {
  table-layout: auto; /* La propriété table-layout définit l'algorithme utilisé pour disposer les cellules, lignes et colonnes d'un tableau */
  text-align: center;
  height: auto;
  width: 400px;
  /*border-radius: 15%;*/
  box-shadow: 0 100px 50px 50px rgba(0, 0, 0, 0.2);
}

.label {
  font-family: 'Ultra', serif;
  color: black;
  font-size: 15px;
}

.table tbody tr:nth-child(odd) {
  background-color: snow;
}

input {
  width: auto;
}


/** RESPONSIVE DESIGN **/

/** EN DESSOUS DE 660 PX (tablette) **/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  .boxTable {
    height: 500px;
    width: 500px;
  }

  caption {
    font-size: 40px;
  }

  table {
    width: 500px;
    font-size: 30px;
  }

  /* table,
  th {
    font-size: 25px;
    margin-left: 40px;
  } */
}

/** EN DESSOUS DE 450 PX (smartphone) **/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .boxTable {
    height: 295px;
    width: 295px;
  }

  table {
    width: 295px;
    font-size: 12px;
  }

  caption {
    font-size: 25px;
  }
}
