<article>
  <div class="boxTable">
    <caption>Résultats</caption>
    <table class="table">
      <tbody>
        <tr *ngFor="let aliment of srvAliments.resultSearch">
          <td>{{aliment.name}}</td>
          <td [ngStyle]="{color: getColor(aliment.status)}">
            <span *ngIf="aliment.status === 'ok'"><i class="fas fa-thumbs-up"></i></span>
            <span *ngIf="aliment.status=== 'ko'"><i class="fas fa-thumbs-down"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</article>